.ql-editor {
  min-height: 200px;
}

.page-button {
  cursor: pointer;
}

.ql-editor img {
  max-width: 100%;
  resize: both;
  overflow: hidden;
  cursor: pointer;
}

.ql-align-left {
  float: left;
  margin-right: 10px;
}

.ql-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-align-right {
  float: right;
  margin-left: 10px;
}

#about img {
  width: 400px;
}

#sidebar {
  position: fixed;
  top: 43vw;
  right: -150px;
  width: 150px;
  background-color: #343a40;
  color: white;
  transition: right 0.3s ease;
  z-index: 999;
}

#sidebar a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#sidebar a:hover {
  background-color: #575757;
}

#sidebar.active {
  right: 0;
}

#toggleMenu {
  position: fixed;
  bottom: 5%;
  right: 22px;
  z-index: 1000;
}