#overlay {
  position: fixed;
  /* top: 0; */
  top: 43vw;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

body.loaded #overlay {
  opacity: 0;
  visibility: hidden;
}
