<div class="container">
    <h2 class="mb-4">Полезные ссылки</h2>
    <ul class="list-unstyled">
        <li><a href="https://github.com/crazykivi" class="text-decoration-none">GitHub</a></li>
        <li><a href="files/resume.pdf" class="text-decoration-none"
                download="Resume_Nikita_Redko_25_11_2024.pdf">Резюме</a></li>
        <li><a href="mailto:nik.ita-redko@yandex.ru" class="text-decoration-none">Почта для связи:
                nik.ita-redko@yandex.ru</a></li>
        <li><a href="https://web.telegram.org/a/#801767645" class="text-decoration-none">Телеграмм для связи:
                crazykivi</a></li>
    </ul>
</div>